%h1 Le Délicieux

%section.container#Welcome
    %div
        %p Welcome to Le Délicieux Cuisine
        %p We invited the best chefs all over the world to serve you the best food

%section.container#BestSeller
    %h1 Best Selling Products
    %div.grid-container
        - @categories.each do |category|
            %div.grid-content{id: dom_id(category.products.first)}
                %p= category.products.first.name
                %p= category.products.first.description
                %p= number_to_currency(category.products.first.price, unit: "kr", format: "%n %u")
                %p= add_to_cart(category.products.first)  
            
