= render 'partials/navbar'
-# %ul
-#     %li
-#         = link_to("Home", root_path)
-#         = link_to "Products", products_path
-#         = shop_icon_quantity
-#         = link_to("Cart", cartify.cart_path)
-#         = link_to "Login", new_user_session_path
-#         = link_to "Signup", new_user_registration_path
-#         = link_to "Logout", destroy_user_session_path, method: :delete
%h1 Le Délicieux

%section.container#Welcome
    %div
        %p Welcome to Le Délicieux Cuisine
        %p We invited the best chefs all over the world to serve you the best food
%section.container#BestSeller
    %h1 Best Selling Products
    %div.gridContainer
        %div.gridContent
            %p Best Seller n.1

        %div.gridContent
            %p Best Seller n.1
        %div.gridContent
            %p Best Seller n.1
