%h1 Le Délicieux

%section.container#Welcome
    %div
        %p Welcome to Le Délicieux Cuisine
        %p We invited the best chefs all over the world to serve you the best food

%section.container#BestSeller
    %h1 Best Selling Products
    %div.grid-container
        - @best_seller.products.each do |product|
            %div.grid-content{id: dom_id(product)}
                %p= product.name
                %p= product.description
                %p= product.price
                %p= add_to_cart(product)  
            
