%h1 Le Délicieux

%section.container#Welcome
    %div
        %p Welcome to Le Délicieux Cuisine
        %p We invited the best chefs all over the world to serve you the best food
%section.container#BestSeller
    %h1 Best Selling Products
    %div.gridContainer
        %div.gridContent
            %p Best Seller n.1

        %div.gridContent
            %p Best Seller n.1
        %div.gridContent
            %p Best Seller n.1
