.navbar   
    %ul
        %a{href: "products#show"} Products
        %li 
            = shop_icon_quantity
            %a{href:"/checkout/"} 
                %img(src="cart.png")
            %a{href: "products#show"} Login
            %a{href: "/users/sign_up"} Signup