.navbar   
    %ul
        = link_to "Products", products_path
        %li 
            = shop_icon_quantity
            = link_to(image_tag('cart.png'), "/checkout")
            %a{href: "/users/sign_in"} Login
            %a{href: "/users/sign_up"} Signup